In [1]:
import numpy as np 
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense

In [2]:
df = pd.read_csv("data/05-insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
# Divide all records according to charges into three groups  
# and encode the groups
df["below_10000"] = df["charges"].apply(lambda x: 1 if x <= 10000 else 0)
df["over_30000"]  = df["charges"].apply(lambda x: 1 if x >= 30000 else 0)
df["between"]     = df["charges"].apply(lambda x: 1 if x > 10000 and x < 30000 else 0)
df.head()

,age,sex,bmi,children,smoker,region,charges,below_10000,over_30000,between
0,19,female,27.900,0,yes,southwest,16884.92400,0,0,1
1,18,male,33.770,1,no,southeast,1725.55230,1,0,0
2,28,male,33.000,3,no,southeast,4449.46200,1,0,0
3,33,male,22.705,0,no,northwest,21984.47061,0,0,1
4,32,male,28.880,0,no,northwest,3866.85520,1,0,0

In [4]:
X = df[["age", "bmi", "children"]]

# Values normalization
scaler = StandardScaler().fit(X)
X = scaler.transform(X)

## Option #1

Three classes are coded with three output variables (1 0 0, 0 1 0, 0 0 1). In the output layer NN has three neurons

In [5]:
y = df[["below_10000", "over_30000", "between"]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, 
                                                    random_state=42)

In [6]:
model = Sequential()
model.add(Dense(3, activation='relu', input_shape=(3,)))
model.add(Dense(6, activation='relu'))
model.add(Dense(6, activation='relu'))
model.add(Dense(3, activation='sigmoid'))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 12

 dense_1 (Dense)             (None, 6)                 24

 dense_2 (Dense)             (None, 6)                 42

 dense_3 (Dense)             (None, 3)                 21

=================================================================
Total params: 99
Trainable params: 99
Non-trainable params: 0
_________________________________________________________________

In [7]:
model.compile(loss = 'binary_crossentropy', optimizer = 'sgd', metrics = ['accuracy'])
history = model.fit(X_train, y_train, epochs=5, batch_size=1, 
                    validation_data = (X_test, y_test))

Epoch 1/5
896/896 [==============================] - 3s 3ms/step - loss: 0.6391 - accuracy: 0.5089 - val_loss: 0.5982 - val_accuracy: 0.5543
Epoch 2/5
896/896 [==============================] - 2s 2ms/step - loss: 0.5867 - accuracy: 0.5212 - val_loss: 0.5654 - val_accuracy: 0.5543
Epoch 3/5
896/896 [==============================] - 2s 2ms/step - loss: 0.5603 - accuracy: 0.5580 - val_loss: 0.5346 - val_accuracy: 0.6765
Epoch 4/5
896/896 [==============================] - 2s 2ms/step - loss: 0.5228 - accuracy: 0.6953 - val_loss: 0.4873 - val_accuracy: 0.7104
Epoch 5/5
896/896 [==============================] - 2s 2ms/step - loss: 0.4835 - accuracy: 0.7020 - val_loss: 0.4566 - val_accuracy: 0.7149

In [8]:
model.evaluate(X_test,y_test)

14/14 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.7149

[0.45661646127700806, 0.7149321436882019]

## Option #2

Three classes are coded with two output variables (1 0, 0 1, 0 0). In the output layer NN has two neurons

In [9]:
y = df[["below_10000", "over_30000"]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, 
                                                    random_state=42)

In [10]:
model = Sequential()
model.add(Dense(3, activation='relu', input_shape=(3,)))
model.add(Dense(6, activation='relu'))
model.add(Dense(6, activation='relu'))
model.add(Dense(2, activation='sigmoid'))
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 3)                 12

 dense_5 (Dense)             (None, 6)                 24

 dense_6 (Dense)             (None, 6)                 42

 dense_7 (Dense)             (None, 2)                 14

=================================================================
Total params: 92
Trainable params: 92
Non-trainable params: 0
_________________________________________________________________

In [11]:
model.compile(loss = 'binary_crossentropy', optimizer = 'sgd', metrics = ['accuracy'])
history = model.fit(X_train, y_train, epochs=5, batch_size=1, 
                    validation_data = (X_test, y_test))

Epoch 1/5
896/896 [==============================] - 3s 2ms/step - loss: 0.5686 - accuracy: 0.8772 - val_loss: 0.5227 - val_accuracy: 0.8824
Epoch 2/5
896/896 [==============================] - 2s 2ms/step - loss: 0.5176 - accuracy: 0.8772 - val_loss: 0.4964 - val_accuracy: 0.8824
Epoch 3/5
896/896 [==============================] - 2s 2ms/step - loss: 0.4953 - accuracy: 0.8772 - val_loss: 0.4793 - val_accuracy: 0.8824
Epoch 4/5
896/896 [==============================] - 2s 2ms/step - loss: 0.4719 - accuracy: 0.8772 - val_loss: 0.4475 - val_accuracy: 0.8824
Epoch 5/5
896/896 [==============================] - 2s 2ms/step - loss: 0.4486 - accuracy: 0.8739 - val_loss: 0.4316 - val_accuracy: 0.8824

In [12]:
model.evaluate(X_test,y_test)

14/14 [==============================] - 0s 1ms/step - loss: 0.4316 - accuracy: 0.8824

[0.43163731694221497, 0.8823529481887817]